.main-nav {
  display: flex;
  padding: 10px 10px;
  align-content: center;
  position: relative;
}

.left-nav > ul,
.right-nav > ul {

}

.left-nav {

  > ul {
    > li {
      float: left;
      padding: 10px 20px;
      position: relative;
    }
  }

  span {

  }
}

.right-nav  {

  > ul {

    > li {
      float: right;
      padding: 10px 20px;
      position: relative;
    }

    > li:last-of-type {
  
    }
  }
  
  i {

  }
}

.bottom_nav {
  > ul {

    > li {
      float: center;
      padding: 10px 20px;
      position: relative;
    }

    > li:last-of-type {
  
    }
  }
  
  i {

  }
}

.left-nav > ul > li:hover,
.right-nav > ul > li:last-of-type:hover {

}
