<%= render "band", band: @band, action: :show %>

<h3><%= @bands.username %>'s albums</h3>
<ul>
    <% @bands.albums.each do |album|%>
        <li>
            <%= album %>
        </li>
    <% end %>
</ul>