<h1>Sessions#new</h1>

<a href="<%= new_user_url %>">Create a user?</a>
<form action="<%= session_url %>" method="POST">
    <%= auth_token %>
    <label for="username">Username</label>
    <input id="username" type="text" name="user[username]" value="">
    <br>
    <label for="password">Password</label>
    <input id="password" type="password" name="user[password]" value="">

    <input type="submit" value="Log In">

</form>

