<h1> Add a Cat to the Collection <h1>

<form action="<%= cats_url %>" method="post">

<label for="name">Name</label>
<input id="name" type="string" name="cats[name]">

<label for="birth_date">Birthdate</label>
<input id="birth_date" type="date" name="cats[birth_date]">

<label for="color">Color</label>
<input id="color" type="string" name="cats[color]">

<label for="sex">Sex</label>
<input id="sex" type="string" name="cats[sex]">

<label for="description">Description</label>
<input id="description" type="text" name="cats[description]">

<input type="submit" value="Create Cat"/>

</form>