<table>
    <thead>
        <tr>
            <th colspan="2">Cats</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td> Name </td>
            <td> @cat.name </td>
        </tr>
        <tr>
            <td> Sex </td>
            <td> @cat.sex </td>
        </tr>
        <tr>
            <td> Color </td>
            <td> @cat.color </td>
        </tr>
        <tr>
            <td> Birth Date </td>
            <td> @cat.birth_date </td>
        </tr>
        <tr>
            <td> Description </td>
            <td> @cat.description </td>
        </tr>
    </tbody>
</table>