/* PHASE 4: Posts */

.posts {
    margin: 20px 0 0 0;
}

.post {
    display: flex;
    border-top: 1px soild #ccc;
    margin: 20px 0 0 0;
    padding: 20px 0 0 0;
}

.post-body {
    margin: 0 0 0 20px;
    width: 540px;
}

.post-footer {
    display: flex;
    justify-content: space_between;
    margin: 20px 0 0 0;
}

.post-footer-info {
    display: flex;
    color: #999;
    font-size: 14px;
}