<header class="main-nav">
	<nav class="left-nav">
		<ul>
			<li id="sections-sidebar-btn">
				<i class="fa fa-bars"></i>
				<span>sections</span>
			</li>
			<li id="search-modal-btn">
				<i class="fa fa-search"></i>
				<span>search</span>
			</li>
		</ul>
	</nav>
	<nav class="right-nav">
		<ul>
			<li id="subscribe-sidebar-btn">
				<span>subscribe</span>
			</li>
			<li id="log-in-btn">
				<span>log in</span>
			</li>
		</ul>
	</nav>
	
	<nav class="bottom-nav">
		<ul>
			<%=bottom_nav_list%>
		</ul>
	</nav>

	<nav class="right-now">
		<ul>
			<li>
				<button type="button" id="">Subscribe</button>
			</li>
			<li>
				<button type="button" id="">Login</button>
			</li>
		</ul>
	</nav>
</header>